@model QLTL.ViewModels.AccountVM.ResetCredentialsVM

<div class="mb-3">
    <label class="form-label">Tên đăng nhập</label>
    <input type="text" class="form-control" value="@Model.Username" disabled />
</div>

@using (Html.BeginForm("ResetCredentials", "Account", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserId)

    <div class="mb-3">
        <label for="email" class="form-label">Email mới</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu mới</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Cập nhật</button>
}
